In [26]:
import os
import pandas as pd
import numpy as np

# 得到包含所有SME的id，放在Series中
path = "D:/programs/grin/datasets/lowa/"
data_feederA = pd.read_csv(os.path.join(path, 'feederA.csv'))
data_feederB = pd.read_csv(os.path.join(path, 'feederB.csv'))
data_feederC = pd.read_csv(os.path.join(path, 'feederC.csv'))

In [34]:
import re

In [27]:
df_feederA = pd.DataFrame(data_feederA)
df_feederA['Time'] = pd.to_datetime(df_feederA['Time'], format='%m/%d/%y %I:%M %p')
df_feederA.set_index('Time', inplace=True)
df_feederB = pd.DataFrame(data_feederB)
df_feederB['Time'] = pd.to_datetime(df_feederB['Time'], format='%m/%d/%y %I:%M %p')
df_feederB.set_index('Time', inplace=True)
df_feederC = pd.DataFrame(data_feederC)
df_feederC['Time'] = pd.to_datetime(df_feederC['Time'], format='%m/%d/%y %I:%M %p')
df_feederC.set_index('Time', inplace=True)
df = pd.concat([df_feederA, df_feederB, df_feederC], axis=1)
df

,Bus 1001,Bus 1002,Bus 1003,Bus 1004,Bus 1005,Bus 1006,Bus 1007,Bus 1008,Bus 1009,Bus 1010,...,Bus 3153,Bus 3154,Bus 3155,Bus 3156,Bus 3157,Bus 3158,Bus 3159,Bus 3160,Bus 3161,Bus 3162
Time,,,,,,,,,,,,,,,,,,,,,
2017-01-01 01:00:00,0,0,15.290,6.892,4.916,5.04,4.163,14.0960,17.081,7.136,...,5.9760,4.836,1.47700,0,9.740,6.517,9.776,4.252,2.744,3.750
2017-01-01 02:00:00,0,0,14.901,6.672,5.335,4.76,3.070,14.9370,12.786,7.078,...,7.1270,6.638,1.48800,0,7.721,6.858,9.565,4.154,3.468,3.710
2017-01-01 03:00:00,0,0,15.772,7.013,4.563,5.04,3.507,14.7890,10.209,5.991,...,6.4710,7.292,1.69500,0,7.194,6.805,9.146,4.429,1.677,3.762
2017-01-01 04:00:00,0,0,15.757,6.452,4.782,4.80,3.143,14.7610,10.040,7.030,...,5.4740,5.162,1.58500,0,6.533,5.952,9.319,4.192,1.614,3.993
2017-01-01 05:00:00,0,0,15.292,6.356,4.482,5.00,3.147,15.1560,10.147,6.043,...,5.5750,5.443,1.59200,0,6.816,5.790,8.417,2.948,2.208,3.183
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-12-31 20:00:00,0,0,17.613,6.635,9.339,7.92,9.038,12.4775,28.646,17.349,...,23.6007,3.980,4.59300,0,13.109,11.565,24.687,4.606,4.080,4.495
2017-12-31 21:00:00,0,0,17.181,6.455,5.926,7.68,10.707,11.8412,30.693,14.129,...,23.6007,2.319,4.63400,0,15.567,14.881,22.210,4.836,3.717,5.231
2017-12-31 22:00:00,0,0,16.932,6.196,5.675,7.40,10.144,12.3205,28.453,15.130,...,24.7513,3.468,3.58850,0,14.046,16.346,22.785,3.339,3.139,5.525
2017-12-31 23:00:00,0,0,18.224,7.168,5.685,7.44,8.225,25.7880,19.614,16.424,...,21.3287,2.927,4.14675,0,10.960,13.604,19.448,3.483,3.098,4.527
2018-01-01 00:00:00,0,0,17.389,6.740,5.727,7.60,6.732,11.0590,13.620,13.270,...,10.9800,2.388,3.57190,0,11.483,11.594,19.672,1.405,3.456,4.359

In [32]:
def extract_numbers_from_column_name(column_name):
    numbers = re.findall(r'\d+', column_name)  # 使用正则表达式提取数字部分
    if numbers:
        return ''.join(numbers)  # 将提取的数字部分连接起来
    else:
        return column_name  # 如果没有数字部分，则保持原始列名

In [36]:
df.columns = [extract_numbers_from_column_name(col) for col in df.columns]

In [37]:
df

,1001,1002,1003,1004,1005,1006,1007,1008,1009,1010,...,3153,3154,3155,3156,3157,3158,3159,3160,3161,3162
Time,,,,,,,,,,,,,,,,,,,,,
2017-01-01 01:00:00,0,0,15.290,6.892,4.916,5.04,4.163,14.0960,17.081,7.136,...,5.9760,4.836,1.47700,0,9.740,6.517,9.776,4.252,2.744,3.750
2017-01-01 02:00:00,0,0,14.901,6.672,5.335,4.76,3.070,14.9370,12.786,7.078,...,7.1270,6.638,1.48800,0,7.721,6.858,9.565,4.154,3.468,3.710
2017-01-01 03:00:00,0,0,15.772,7.013,4.563,5.04,3.507,14.7890,10.209,5.991,...,6.4710,7.292,1.69500,0,7.194,6.805,9.146,4.429,1.677,3.762
2017-01-01 04:00:00,0,0,15.757,6.452,4.782,4.80,3.143,14.7610,10.040,7.030,...,5.4740,5.162,1.58500,0,6.533,5.952,9.319,4.192,1.614,3.993
2017-01-01 05:00:00,0,0,15.292,6.356,4.482,5.00,3.147,15.1560,10.147,6.043,...,5.5750,5.443,1.59200,0,6.816,5.790,8.417,2.948,2.208,3.183
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-12-31 20:00:00,0,0,17.613,6.635,9.339,7.92,9.038,12.4775,28.646,17.349,...,23.6007,3.980,4.59300,0,13.109,11.565,24.687,4.606,4.080,4.495
2017-12-31 21:00:00,0,0,17.181,6.455,5.926,7.68,10.707,11.8412,30.693,14.129,...,23.6007,2.319,4.63400,0,15.567,14.881,22.210,4.836,3.717,5.231
2017-12-31 22:00:00,0,0,16.932,6.196,5.675,7.40,10.144,12.3205,28.453,15.130,...,24.7513,3.468,3.58850,0,14.046,16.346,22.785,3.339,3.139,5.525
2017-12-31 23:00:00,0,0,18.224,7.168,5.685,7.44,8.225,25.7880,19.614,16.424,...,21.3287,2.927,4.14675,0,10.960,13.604,19.448,3.483,3.098,4.527
2018-01-01 00:00:00,0,0,17.389,6.740,5.727,7.60,6.732,11.0590,13.620,13.270,...,10.9800,2.388,3.57190,0,11.483,11.594,19.672,1.405,3.456,4.359

In [39]:
file_name = os.path.join(path, 'lowa.h5')
df.to_hdf(file_name, key='data', mode='w')

In [43]:
df_feederA.shape

(8760, 17)

In [44]:
df_feederA

,Bus 1001,Bus 1002,Bus 1003,Bus 1004,Bus 1005,Bus 1006,Bus 1007,Bus 1008,Bus 1009,Bus 1010,Bus 1011,Bus 1012,Bus 1013,Bus 1014,Bus 1015,Bus 1016,Bus 1017
Time,,,,,,,,,,,,,,,,,
2017-01-01 01:00:00,0,0,15.290,6.892,4.916,5.04,4.163,14.0960,17.081,7.136,3.125,3.083,1.537,0.458,0.793,3.083,2.131
2017-01-01 02:00:00,0,0,14.901,6.672,5.335,4.76,3.070,14.9370,12.786,7.078,2.758,2.032,2.378,0.336,0.836,2.032,1.914
2017-01-01 03:00:00,0,0,15.772,7.013,4.563,5.04,3.507,14.7890,10.209,5.991,3.096,1.597,1.615,0.326,0.803,1.597,2.446
2017-01-01 04:00:00,0,0,15.757,6.452,4.782,4.80,3.143,14.7610,10.040,7.030,3.317,1.228,1.536,0.422,0.778,1.228,6.041
2017-01-01 05:00:00,0,0,15.292,6.356,4.482,5.00,3.147,15.1560,10.147,6.043,2.832,1.162,1.773,0.404,0.874,1.162,4.880
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-12-31 20:00:00,0,0,17.613,6.635,9.339,7.92,9.038,12.4775,28.646,17.349,6.149,10.005,7.763,1.188,1.559,10.005,4.361
2017-12-31 21:00:00,0,0,17.181,6.455,5.926,7.68,10.707,11.8412,30.693,14.129,6.810,4.780,5.719,0.640,2.122,4.780,3.947
2017-12-31 22:00:00,0,0,16.932,6.196,5.675,7.40,10.144,12.3205,28.453,15.130,8.427,4.197,5.739,0.631,1.867,4.197,2.860
2017-12-31 23:00:00,0,0,18.224,7.168,5.685,7.44,8.225,25.7880,19.614,16.424,4.573,5.000,5.608,0.669,1.295,5.000,7.873
2018-01-01 00:00:00,0,0,17.389,6.740,5.727,7.60,6.732,11.0590,13.620,13.270,4.747,2.832,5.690,0.587,1.277,2.832,5.094